body{
	font-size: 12px;
	color: #34495E;
}

div#content{
	background: url(../img/back.jpg);
	width: 100%;
	height: 1000px;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background:  rgba(255, 255, 255, 0.5);
}

header figure{
	display: inline-block;
	vertical-align: top;
	margin: 0px -8px;
}

header figure a{
	margin: 0px;
	padding: 0px;
}

header figure a img{
	height: 40px;
}

header h1{
	display: none;
}

header nav{
	float: right;

}

header nav ul{
	margin: 0px;
	padding: 0px;
}

header nav ul li{
	display: inline-block;
	padding: 0px;
	font-size: 1.1em;
	margin: 0px -2px;

}

header nav ul li.menu_1 a{
	border-bottom: 5px solid darkblue;
	color: darkblue;
	font-weight: bold;
}
header nav ul li.menu_1 a:hover{
	color: white;
	background-color: #2E9AFE;
}

header nav ul li.menu_2 a{
	border-bottom: 5px solid  #FE9A2E;
	color: #BA5F04;
	font-weight: bold;
	background-color: #FFBF00;
}

header nav ul li.menu_3 a{
	border-bottom: 5px solid #0B610B;
	color: #0B610B;
	font-weight: bold;
}

header nav ul li.menu_3 a:hover{
	background-color: #A5DF00;
}

header nav ul li.menu_1, 
header nav ul li.menu_3{
	display: none;

}

header nav ul li a{
	margin: 0px;
	padding: 13px 10px 8px 10px;
	text-decoration: none;
	line-height: 40px;
	font-family: 'Sunflower', sans-serif;
}

@media screen and (min-width: 480px){

	header figure{
		margin-left: 15%;
	}

	header nav ul li.menu_1, 
	header nav ul li.menu_3{
		display: inline-block;
	}
}

@media screen and (min-width: 767px){

	header figure{
		margin-left: 15%;
	}
	header h1{
		display: inline-block;
		font-size: 1.6em;

	}
	header nav{
		margin-right: 10%;
	}

}


header h1{
	margin-left: 17px; 
	font-family: 'Sunflower', sans-serif;
}